.App {
  text-align: center;
}

.App-logo {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  cursor: pointer
}
.App-logo:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 3s infinite;
  cursor: pointer
}
.drawer-container {
  display:flex;
  flex-direction: column;
}

.flexEnd{
  align-self: flex-end;
}

.topOption{
 flex-grow: 1;
}

.bottomOption {
  width:100%;
  height:100px;
}

.drawerOptionContainer{
  margin: 2rem;
  height:100%;
}

.tabPanel{
  height:100%;
}

.drawerOption{
  padding: 0.5rem 1rem;
}

.imageWrapper{
  position: relative;
}

.paletteOption{
  padding: 5px 0;
  display:flex;
  justify-content: space-between;
}

.paletteOption input{
  width:100px;
}

.paletteColorWrapper{
   padding: 1rem 0;
}

.drawerItem {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.noRender{
  display: none;
}

.App-header {
  width:100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabContainer{
  flex-grow: 1 
}

.footer{
  margin-top: auto;
}

.tabContentContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}